<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mecânica Injecar Caregnatto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.google.com.br">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/foundation.css">
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <%= render template: "layouts/header.html.erb" %>
    <% if flash[:notice]%>
      <p class="message-notice"><%=h flash[:notice] %></p>
    <% else %>
      <p class="message-error"><%=h flash[:error] %></p>
    <% end %>
    <div class="page-content">
      <div class="wrap">
        <%= yield %>
      </div>
    </div>

    <%= render template: "layouts/footer.html.erb" %>
    <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/modernizr.js"></script>
    <script src="/assets/foundation/foundation.js"></script>
    <script src="/assets/foundation/foundation.orbit.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <script type="text/javascript">
      $(document).ready(function(){
          $(function() {
                    var nav = $('#head');
                    var img = $('.title-area, .title-area img');
                    var navHomeY = 20;
                    var imgHomeY = 0;
                    var $w = $(window);
            ajustarMenu = function() {
                   var scrollTop =  $w.scrollTop();
            fontRatio = (110 - scrollTop) / 55;
            if (fontRatio < 1)
            fontRatio = 1;
            if (scrollTop > navHomeY) {
            console.log("Scroll Top: "+scrollTop);
            scrollTop = navHomeY;
            console.log("Scroll Top com nav Home: "+scrollTop);
                   }
                   nav.css({
                         top: "-"+scrollTop+"px",
                     });
            if (nav <= 58){
                   nav.css({
                         height: "60px",
                   });
            }
            img.css({width: ((100 * fontRatio) +"px"), top: ((scrollTop / 1.2)+"px")});
            };
                    $w.scroll(ajustarMenu);
            ajustarMenu();
          });
      });
</script>
  </body>
</html>
