<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta name="viewport" content="width=500, initial-scale=1">
    <title>Mecânica Injecar Caregnatto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.google.com.br">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/foundation.css">
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <%= render template: "layouts/header.html.erb" %>
    <% if flash[:notice]%>
      <p class="message-notice"><%=h flash[:notice] %></p>
    <% else %>
      <p class="message-error"><%=h flash[:error] %></p>
    <% end %>
    <div class="page-content">
      <div class="wrap">
        <%= yield %>
      </div>
    </div>

    <%= render template: "layouts/footer.html.erb" %>
    <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/modernizr.js"></script>
    <script src="/assets/foundation/foundation.js"></script>
    <script src="/assets/foundation/foundation.orbit.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <script type="text/javascript">
      $(document).ready(function(){
         $(function() {
            var header = $('header');
            var menu = $('.top-bar-section #menu > ul > li > a');
            var img = $('.logo_position');
            var alturaPadrao = 125;//nav.height();
            var alturaMinima = 45;
            var scrollAction = alturaPadrao - alturaMinima;
            var navHomeY = 20;
            var imgHomeY = 0;
            var $w = $(window);
            ajustarMenu = function() {
            var scrollTop =  $w.scrollTop();
            console.log(scrollTop + " < " + scrollAction);
            if (scrollTop <= scrollAction) {
              var alturaLinha = alturaPadrao - scrollTop;
              menu.css({
                lineHeight: alturaLinha+"px"
              });
              img.css({
                height: (alturaLinha - 5) +"px"
              });
              header.css({
                borderTop: (7 * (alturaLinha / alturaPadrao)) +"px solid #008cba"
              });
            } else {
              menu.css({
                lineHeight: alturaMinima+"px",
                top: "0px"
              });
              img.css({
                height: (alturaMinima - 5) +"px",
                top: "0px"
              });
                header.css({
                borderTop: "1px solid #008cba"
              });
            }
         };
         $w.scroll(ajustarMenu);
         ajustarMenu();
       });
    });
</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
