<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mecânica Injecar Caregnatto</title>
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="http://www.google.com.br">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/foundation.css">
    <link rel="stylesheet" href="/assets/foundation-icons/foundation-icons.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="/assets/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="/assets/application.css">
  </head>
  <body>
    <%= render template: "layouts/header.html.erb" %>
    <% if flash[:notice]%>
      <p class="message-notice"><%=h flash[:notice] %></p>
    <% else %>
      <p class="message-error"><%=h flash[:error] %></p>
    <% end %>
    <div class="page-content">
      <div class="wrap">
        <%= yield %>
      </div>
    </div>

    <%= render template: "layouts/footer.html.erb" %>
    <script src="/assets/vendor/jquery.js"></script>
    <script src="/assets/vendor/modernizr.js"></script>
    <script src="/assets/foundation/foundation.js"></script>
    <script src="/assets/foundation/foundation.orbit.js"></script>
    <script src="/assets/foundation.min.js"></script>
    <script>$(document).foundation();</script>
    <script type="text/javascript">
      $(document).ready(function(){
          $(function() {
                    // Stick the #nav to the top of the window
                    var nav = $('');
                    var img = $('');
                    var navHomeY = 55;
                    var imgHomeY = 0;
                    var $w = $(window);
            ajustarMenu = function() {
                   var scrollTop =  $w.scrollTop();
            fontRatio = (95 - scrollTop) / 60;
            if (fontRatio < 1)
            fontRatio = 1;
            if (scrollTop > navHomeY) {
            scrollTop = navHomeY;
                   }
                   nav.css({
                         top: "-"+scrollTop+"px"
                     });
            img.css({fontSize: (24 * fontRatio) + "px", width: (100 * fontRatio) +"px", marginTop: (scrollTop/1.2)+"px"});
            };
                    $w.scroll(ajustarMenu);
            ajustarMenu();
          });
      });
</script>
  </body>
</html>
